<!-- begin:: Aside -->
<button class="k-aside-close " id="k_aside_close_btn"><i class="la la-close"></i></button>
<div class="k-aside k-aside--fixed k-grid__item k-grid k-grid--desktop k-grid--hor-desktop" id="k_aside">
	{{>v1_aside-brand}}
	{{>v1_aside-menu}}
	{{>v1_aside-footer}}
</div>
<!-- end:: Aside -->
