<!--begin::Portlet-->
<div class="k-portlet">
	<div class="k-portlet__body">
		<ul class="nav nav-tabs nav-tabs-line nav-tabs-line-success nav-tabs-bold" role="tablist">
			<li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#k_tabs_2_1" role="tab">全部（21）</a>
			</li>
			<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#k_tabs_2_2" role="tab">审核通过（22）</a> </li>
			<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#k_tabs_2_3" role="tab">审核中（22）</a> </li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="k_tabs_2_1" role="tabpanel">
				<!--begin::Form-->
				<form class="k-form k-form--label-right">
					<div class="form-group row form-group-marginless k-margin-t-20">
						<div class="col-lg-4">
							<input type="email" class="form-control" placeholder="Full name">
							<span class="form-text text-muted">Please enter your full name</span>
						</div>
						<div class="col-lg-4">
							<input type="email" class="form-control" placeholder="Email">
							<span class="form-text text-muted">Please enter your email</span>
						</div>
						<div class="col-lg-4">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="la la-user"></i></span>
								</div>
								<input type="text" class="form-control" placeholder="">
							</div>
							<span class="form-text text-muted">Please enter your username</span>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<div class="tab-pane" id="k_tabs_2_2" role="tabpanel"> It has survived not only five centuries, but also the
				leap
				into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
				of Letraset sheets containing Lorem Ipsum passages. </div>
			<div class="tab-pane" id="k_tabs_2_3" role="tabpanel"> Lorem Ipsum is simply dummy text of the printing and
				typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
				unknown printer took a galley of type and scramble. </div>
		</div>
	</div>
</div>
<!--end::Portlet-->
<!--begin::Portlet-->
<div class="k-portlet k-portlet--mobile">
	<div class="k-portlet__head k-portlet__head--lg">
		<div class="k-portlet__head-label">
		</div>
		<div class="k-portlet__head-toolbar">
			<div class="k-portlet__head-wrapper">
				<a href="#" class="btn btn-clean k-hidden"> Back to dashboard </a>
				<a href="#" class="btn btn-clean btn-bold btn-upper btn-font-sm k-hidden"> <i class="la la-long-arrow-left"></i>
					Back </a>
				<a href="#" class="btn btn-default btn-bold btn-upper btn-font-sm"> <i class="flaticon2-add-1"></i> New Record
				</a>
				&nbsp;
				<div class="dropdown dropdown-inline">
					<button type="button" class="btn btn-default btn-bold btn-upper btn-font-sm" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <i class="flaticon2-soft-icons"></i> Actions </button>
					<div class="dropdown-menu dropdown-menu-right">
						<ul class="k-nav">
							<li class="k-nav__section k-nav__section--first"> <span class="k-nav__section-text">Quick Actions</span>
							</li>
							<li class="k-nav__item">
								<a href="#" class="k-nav__link"> <i class="k-nav__link-icon flaticon2-graph-1"></i> <span
										class="k-nav__link-text">Statistics</span> </a>
							</li>
							<li class="k-nav__item">
								<a href="#" class="k-nav__link"> <i class="k-nav__link-icon flaticon2-calendar-4"></i> <span
										class="k-nav__link-text">Events</span> </a>
							</li>
							<li class="k-nav__item">
								<a href="#" class="k-nav__link"> <i class="k-nav__link-icon flaticon2-layers-1"></i> <span
										class="k-nav__link-text">Reports</span> </a>
							</li>
							<li class="k-nav__item">
								<a href="#" class="k-nav__link"> <i class="k-nav__link-icon flaticon2-graph"></i> <span
										class="k-nav__link-text">Notifications</span> </a>
							</li>
							<li class="k-nav__item">
								<a href="#" class="k-nav__link"> <i class="k-nav__link-icon flaticon2-file-1"></i> <span
										class="k-nav__link-text">Files</span> </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="k-portlet__body k-portlet__body--fit">
		<!--begin: Datatable -->
		<div class="k_datatable" id="column_rendering"></div>
		<!--end: Datatable -->
	</div>
</div>
<!--end::Portlet-->
