<!-- begin:: Subheader -->
<div class="k-subheader k-grid__item" id="k_subheader">
	<div class="k-subheader__main">
		<h3 class="k-subheader__title">
			卖家中心
		</h3>
		<span class="k-subheader__separator k-hidden"></span>
		<div class="k-subheader__breadcrumbs">
			<a href="#" class="k-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
			<span class="k-subheader__breadcrumbs-separator"></span> <a href="" class="k-subheader__breadcrumbs-link">
				产品管理 </a> <span class="k-subheader__breadcrumbs-separator"></span> <a href=""
				class="k-subheader__breadcrumbs-link"> 产品管理 项目 </a>
			<!-- <span class="k-subheader__breadcrumbs-link k-subheader__breadcrumbs-link--active">Active link</span> -->
		</div>
	</div>
	<div class="k-subheader__toolbar">
		<div class="k-subheader__wrapper">
			<a href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="k-tooltip" title="Reports"
				data-placement="top"><i class="flaticon2-writing"></i></a>
			<a href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="k-tooltip" title="Calendar"
				data-placement="top"><i class="flaticon2-hourglass-1"></i></a>
			<div class="dropdown dropdown-inline" data-toggle="k-tooltip" title="Quick actions" data-placement="top">
				<a href="#" class="btn btn-icon btn btn-label btn-label-brand btn-bold" data-toggle="dropdown" data-offset="0 0"
					aria-haspopup="true" aria-expanded="false"> <i class="flaticon2-add-1"></i> </a>
				<div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
					<ul class="k-nav k-nav--active-bg" role="tablist">
						<li class="k-nav__item">
							<a href="" class="k-nav__link"> <i class="k-nav__link-icon flaticon2-psd"></i> <span
									class="k-nav__link-text">Document</span> </a>
						</li>
						<li class="k-nav__item">
							<a class="k-nav__link" role="tab"> <i class="k-nav__link-icon flaticon2-supermarket"></i> <span
									class="k-nav__link-text">Message</span> </a>
						</li>
						<li class="k-nav__item">
							<a href="" class="k-nav__link"> <i class="k-nav__link-icon flaticon2-shopping-cart"></i> <span
									class="k-nav__link-text">Product</span> </a>
						</li>
						<li class="k-nav__item">
							<a class="k-nav__link" role="tab">
								<i class="k-nav__link-icon flaticon2-chart2"></i> <span class="k-nav__link-text">Report</span>
								<span class="k-nav__link-badge"> <span
										class="k-badge k-badge--danger k-badge--inline k-badge--rounded">pdf</span> </span>
							</a>
						</li>
						<li class="k-nav__item">
							<a href="" class="k-nav__link"> <i class="k-nav__link-icon flaticon2-sms"></i> <span
									class="k-nav__link-text">Post</span> </a>
						</li>
						<li class="k-nav__item">
							<a href="" class="k-nav__link"> <i class="k-nav__link-icon flaticon2-avatar"></i> <span
									class="k-nav__link-text">Customer</span> </a>
						</li>
					</ul>
				</div>
			</div>
			<a href="#" class="btn btn-sm btn-elevate btn-brand btn-elevate" id="k_dashboard_daterangepicker"
				data-toggle="k-tooltip" title="" data-placement="left" data-original-title="Select dashboard daterange"> <span
					class="k-opacity-7" id="k_dashboard_daterangepicker_title">Today:</span>&nbsp; <span class="k-font-bold"
					id="k_dashboard_daterangepicker_date">Jan 11</span> <i
					class="flaticon-calendar-with-a-clock-time-tools k-padding-l-5 k-padding-r-0"></i> </a>
		</div>
	</div>
</div>
<!-- end:: Subheader -->
