<!--begin: Search -->
<div class="k-header__topbar-item k-header__topbar-item--search dropdown">
	<div class="k-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,0">
		<span class="k-header__topbar-icon"><i class="flaticon2-search-1"></i></span>
	</div>
	<div
		class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-top-unround dropdown-menu-anim dropdown-menu-lg">
		{{>v1_dropdown-search-dropdown}}
	</div>
</div>
<!--end: Search -->
