<!-- begin:: Header Topbar -->
<div class="k-header__topbar">
	{{>v1_topbar-search}}
	{{>v1_topbar-notifications}}
	{{>v1_topbar-quick-actions}}
	{{>v1_topbar-languages}}
	{{>v1_topbar-user}}
	{{>v1_topbar-quick-panel}}
</div>
<!-- end:: Header Topbar -->
