{{#>v1_layout}}
{{#*inline "body"}}
<!--[html-partial:include:{"file":"partials\/_header-base-mobile.html"}]/-->
<!-- begin:: Root -->
<div class="k-grid k-grid--hor k-grid--root">
	<!-- begin:: Page -->
	<div class="k-grid__item k-grid__item--fluid k-grid k-grid--ver k-page">
		<!--[html-partial:include:{"file":"partials\/_aside-base.html"}]/-->
		<!-- begin:: Wrapper -->
		<div class="k-grid__item k-grid__item--fluid k-grid k-grid--hor k-wrapper" id="k_wrapper">
			<!--[html-partial:include:{"file":"partials\/_header-base.html"}]/-->
			<div class="k-grid__item k-grid__item--fluid k-grid k-grid--hor">
				<!--[html-partial:include:{"file":"partials\/_subheader-subheader-v1.html"}]/-->
				<!--[html-partial:include:{"file":"partials\/_content-base.html"}]/-->
			</div>
			<!--[html-partial:include:{"file":"partials\/_footer-base.html"}]/-->
		</div>
		<!-- end:: Wrapper -->
	</div>
	<!-- end:: Page -->
</div>
<!-- end:: Root -->
<!-- begin:: Topbar Offcanvas Panels -->
<!--[html-partial:include:{"file":"partials\/_offcanvas-quick-actions.html"}]/-->
<!-- end:: Topbar Offcanvas Panels -->
<!--[html-partial:include:{"file":"partials\/_layout-quick-panel.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_layout-scrolltop.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_layout-toolbar.html"}]/-->
<!--[html-partial:include:{"file":"partials\/_layout-demo-panel.html"}]/-->
{{/inline}}
{{/v1_layout}}
